<ion-view view-title="History">
  <ion-content>
    <div class="list">
    	<div>
    	  <a class="item item-thumbnail-left" href="#">
	      <img src="img/ba.jpg">
	      <h2>Baker Street Barbers</h2>
	      <p>Barber: Mustafa</p>
	      <i class="ion-thumbsup" style="font-size: 35px;"></i>
	      </a>
    	</div>
    	<div>
    			    <a class="item item-thumbnail-left" href="#">
	      <img src="img/ba.jpg">
	      <h2>Old Kent Road Male Grooming</h2>
	      <p>Barber: Albert</p>
	      <i class="ion-thumbsdown" style="font-size: 35px;"></i>
	    </a>
    	</div>




	</div>
  </ion-content>
</ion-view>
