<ion-view view-title="Picture: Before">
  <ion-content>
<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="http://dummyimage.com/400x600/000/fff">
    <p>
      Before Haircut
    </p>
  </div>

  <div class="item">
    <div>
      <a class="" ng-click="toggleShowInfoForm()">
      <i class="ion-document-text" style="font-size: 25px; marin"></i> Add Notes  
      </a>
    </div>
    <div ng-show="showInfoForm">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Barbershop Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Your barber's name">
        </label>
        <label class="item item-input">
          <textarea placeholder="Notes"></textarea>
        </label>
      </div>
    </div>
  </div>

  <div class="item">
    <a class="button button-block button-positive">Save</a>
  </div>

</div>
  </ion-content>
</ion-view>
