<ion-view view-title="Picture: Before">
  <ion-content>
<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="http://dummyimage.com/400x600/000/fff">
    <p>
      Before Haircut
    </p>
  </div>

  <div class="item">
    <div><a class="" ng-click="toggleShowInfoForm()">Add Info</a></div>
    <div ng-show="showInfoForm">
      Blah blah blah
    </div>
  </div>

  <div class="item">
    <a class="button button-block button-positive">Save</a>
  </div>

</div>
  </ion-content>
</ion-view>
