<ion-view view-title="While you're waiting..."> 
  <ion-content>
<div class="list card">

  <div class="item item-body row row-center">
    <h1>Enjoy your haircut!</h1>
      
  </div>
  <div class="item item-body row row-center">
    <div class="col-offset-33 col-center"> <i class="ion-scissors" style="font-size: 60px;"></i></div>
  </div>

  <div class="item">
    <a class="button button-block button-positive"><i class="ion-camera" style="font-size: 40px;"></i> After  </a>
  </div>

</div>
  </ion-content>
</ion-view>
