<ion-view view-title="MyHaircut">
  <ion-content>
  	<div>
	  	<a ui-sref="app.map" class="button button-block button-positive">
            <i class="ion-ios-search" style="font-size: 25px;"></i>
            <i class="ion-scissors" style="font-size: 40px;"></i>
            <i class="ion-ios-location-outline" style="font-size: 25px;"></i>

		</a>
		<a ui-sref="app.precamera" class="button button-block button-positive">
	  		<i class="ion-camera" style="font-size: 40px;"></i>
		</a>
        <a ui-sref="app.browse" class="button button-block button-positive">
  		   <i class="ion-image" style="font-size: 40px;"></i>
        </a>
  	</div>

    <button class="button button-block">
        <i class="ion-ios-clock" style="font-size: 40px;"></i>
        <div>
          5 days since your last haircut
        </div>

    </button>

  </ion-content>
</ion-view>
